<div class="splash-container">
  <h1 class="app-name">Budget App</h1>

  <div class="splash">
    <%= link_to 'LOG IN', new_user_session_path, class: 'log-btn' %>
     <%= link_to 'SIGN UP', new_user_registration_path, class: 'sign-btn' %>
  </div>
</div>
